email=devopstrainingblr@gmail.com
#always-auth=true
#_auth=YWRtaW46YWFzYWlAMTIz
npm adduser --registry=http://18.224.3.223:8098/aasai/repository/aasai-nodejs-apps/
registry.npmjs.org/:_auth=YWRtaW46YWFzYWlAMTIz
allowRepublish=true
